// ABOUT / STORY SECTION ---
.story-banner {
	background-image: url(/images/storybanner.jpg);
}

.story {
	@extend %sections;
	border-bottom: 8rem solid $colorset4;
}

/* ==== DESKTOP CODE  860px ===== */
@media screen and (min-width: $breakpoint-desktop) {
	.story {
		padding: 2rem 6rem;
		font-size: 2em;
	}
}
