// CONTACT US STYLES
.contact-banner {
	background-image: url(/images/contactbanner.jpg);

	h2 {
		background-color: rgba(200,181,154, .5);
		padding: 1em;

	}
}
.contact {
	background-color: $colorset1;
	padding: 2em;
}