/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
//Breakpoints
$breakpoint-tablet: 640px;
$breakpoint-desktop: 940px;
$breakpoint-desktop-lg: 1400px; 

 // COLOURS
$dark: #3e4149; // Near Black
$light: #EEEEEE; // Near White

///Browns Theme colors
$colorset1: #d4bfa3; // Paler Brown
$colorset2:  #2f2616; // Brown
$colorset3: #634c2d; // Light Brown
$colorset4: #b1946b; // Pale Brown

// WIDTHS
$fullwidth: 100%;

//Fonts
$mainFont: 'Open Sans', sans-serif;
$mainFont2: 'Oswald', sans-serif;
