@@include('_header.html', { "pageTitle": "Front-end developer" })  
  
<div class="hero-banner">
	<div class="hero-content">
	<h1 class="heroh1 margin-top-sm margin-bottom-none">Traditional Tea Room with a quirky flare. Serving the best teas, coffees, delicious cakes and healthy snack options</h1>
	<a href="#recentwork" class="scrolltoRW"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
	</div>
</div>

<main id="story">
	<div class="story-banner banner">
		<h2>Our Story</h2>
	</div>
	<!-- STORY / ABOUT ADD -->
	<div class="story"> 
		<p>We first opened our little tea rooms back in 2016. We had the vision of providing a cosy welcoming environment for a variety of customers, also making it child and dog friendly.</p>

		<p>A delightful place where people can come and enjoy a wide range of drinks, snacks and light lunches, not forgetting the delicious locally made cakes! </p>

		<p>We endeavour to cater for most dietary requirements,  just drop us a line or ask when you come in for guidance on food content or special requests.</p>

		<p>We welcome feedback and any suggestions you may have as to how we can make your visit to us an even more enjoyable.</p>
	</div>	
</main>

<section id="gallery">
	<div class="gallery-banner banner"><h2>Gallery</h2></div>
	<!-- IMAGE GALLERY ADD  -->
</section>

<section id="price">
	<div class="price-banner banner"><h2>Prices</h2></div>
	<!-- PRICES ADD -->
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda commodi ipsa, nulla rem doloribus placeat possimus quidem, culpa quod quam error sunt alias? Expedita veritatis blanditiis cumque esse. Quae, doloribus!</p>
</section>

<section id="reviews">
	<div class="reviews-banner banner"><h2>Reviews</h2></div>
	<!-- REVIEWS ADD -->
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo repellendus, numquam ab iure tempore eaque perspiciatis voluptas, sed illum repellat doloribus sunt aperiam quaerat! Amet nihil iusto aliquid temporibus neque?</p>
</section>

<section id="contact">
	<div class="contact-banner banner"><h2>Contact</h2></div>
	<!-- ADD GOOGLE MAP AND CONTACT DETAILS -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro at sequi distinctio ipsum dolores. Ut illum esse totam animi numquam rem porro itaque necessitatibus debitis. Tempora ea facere quae aut.</p>
</section>

  @@include('_footer.html')